@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Poppins;
}

:root {
    --purple_primary_color: #a117a4;
    --animation_duration: 0.5s;
    --animation_ease_in: var(--animation_duration) ease-in;
    --animation_cubic_bezier: var(--animation_duration) cubic-bezier(0.05, 0.61, 0.41, 0.95);

    --icon_height: 2rem;
    --icon_heigth_and_margin: 2.3rem;

    --text_color: #FFF;
}

.cards-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 0.3rem;
    margin: 0;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    overflow: hidden;
}

.card-container {
    flex: 1;
    position: relative;
    /* to 'know' we are on the card */
    cursor: pointer;
    width: 10%;
    min-width: 2.4rem;
    height: 100%;
    padding: 0;
    margin: 0;
    place-items: center;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 1px rgba(266, 255, 255, 0.4);
    transition: flex var(--animation_duration) ease-in;
    overflow: hidden;

    /* border: 1px solid red;   */
}

.card-container:hover  {
    box-shadow: 1px 2px 5px 1px rgba(266, 255, 255, 0.8);
    transition: var(--animation_duration) ease-in;
}

.card-container.active {
    flex-grow:  100;
    transform: scale(1);
    /* max-width: 90%; */
    border-radius: 30px;
    transition: all (--animation_duration) ease-in;
}

.card-container:not(.active, :hover) {
    flex-grow: 1;
}

.card-container:not(.active, :hover) .card-title {
    display: none;
}

.card-container .icon {
    position: absolute;
    z-index: 2;
    border: none;
    width: var(--icon_height);
    height: var(--icon_height);
    text-align: center;
    font-family: 'Luckiest Guy', Poppins, sans-serif;
    border-radius: 50%;
    left: 0.125rem;
    bottom: 0.125rem;
    background-color: var(--purple_primary_color);
    color: #FFF;
}

.card-container.active .icon {
    left: 0.7rem;
}

/* ------------ CARD CONTENT --------------------- */
.card-container .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0;
    overflow: hidden;
}

.card-container:not(.active) .content .image-container {
    width: 100%;
}

.card-container:not(.active) .content .text-content{
    display: none;
}

.card-container .content .image-container {
    height: 100%;
    width: 50%;
}

.card-container .content .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.card-container .content .text-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    font-family: poppins, sans-serif;
    color: var(--text_color);
}

.card-container .content .text-content .text-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 0;
}

.card-container .content .text-content .card-title {
    margin: 0;
    padding: 0;
    letter-spacing: 8px;
    line-height: 1.2;
    font-family: Poppins;
    color: #827e7e;
}

.card-container .content .text-content .activity {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--purple_primary_color);
}

.card-container .content .text-content .description {
    font-size: 1rem;
    margin: 2rem;
    color: #f1f1f1;
    
}

.card-container .content .text-content .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container .content .text-content .buttons button {
    border: none;
    width: 12rem;
    height: 3rem;
    background-color: green;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 2rem;
    border-radius: 10px;
    font-weight: 600;
}

.card-container .content .text-content .buttons button span {
    margin-left: 0.5rem;
}


/* ================ MEDIA QUERIES ================== */
@media  screen and (max-width: 768px) {
    .card-container .content .text-content .activity {
        font-size: 2.5rem;
    }   

    .card-container div.activity:nth-child(4) .content .text-content .activity{
        font-size: 2rem;
    }
}

@media  screen and (max-width: 425px) {
    .cards-container {
        flex-direction: column;
        padding: 0.1rem;
    }
    .card-container {
        width: 100%;
        min-height: 2.4rem;
    }

    .card-container .content .image-container {
        width: 100%;
    }

    .card-container .content .text-content {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
    }

    .card-container .content .text-content .text-container{
        flex: 1;
    }

    .card-container .content .text-content .text-container .card-title {
        font-size: 1rem;
    }

    .card-container .content .text-content .text-container .activity {
        font-size: 2rem;  
    }

    .card-container .content .text-content .text-container .description{
        font-size: 0.8rem;
        margin: 1rem;
    }
}


