.backdrop{
    position: fixed;
    /* top: 0;
    left: 0; */
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    /* background: #000000e1; */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    display: flex;
    align-items: center;
    justify-content: center;
}